body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  padding-left: 200px;
  padding-right: 200px;
}

.sponsor{
  width: 200px;
  height: 30px;
  position: absolute;
  bottom: 40px;
  right: 235px;
}

.header {
background:rgba(0, 0, 0, 0.1);
border-radius: 25px;
height: 40px;
margin-left: 20px;

}
.label {
    display: inline;
    padding-top: 50px;
    padding-left: 30px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    //vertical-align: baseline;
    border-radius: 25px;
    vertical-align: middle;
  }
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #30D683;
}

.bar:hover {
  fill: #FF876A ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 10px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
    
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
